/* svg {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  
  .house {
    stroke-dasharray: 2326;
    stroke-dashoffset: -2326;
    transition: all 0.2s ease-in-out;
    animation-direction: alternate;
    animation: draw-house 10s infinite;
    animation-play-state: running;
  }
  .window {
    stroke-dasharray: 369;
    stroke-dashoffset: -369;
    transition: all 0.2s ease-in-out;
    animation-direction: alternate;
    animation: draw-window 10s infinite;
    animation-play-state: running;
  }
  
  @keyframes draw-house {
    0% {
      stroke-dashoffset: -2326;
      fill:transparent;
    }
    50% {
      stroke-dashoffset: 0;
      fill:transparent;
    }
    100% {
      stroke-dashoffset: 0;
      fill:#3d0332;
    }
  }
  
  @keyframes draw-window {
    0% {
      stroke-dashoffset: -360;
      fill:transparent;
    }
    60% {
      stroke-dashoffset: 0;
      fill:transparent;
    }
    100% {
      stroke-dashoffset: 0;
      fill:#3d0332;
    }
  }
  
  #house-icon{
    z-index: -1;
    max-height: 50vh;
  } */